h2,
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: "Lucida Grande";
    font-size: 11px;
    font-variant: normal;
    overflow: hidden;
}
#notification {
    text-align: center;
    position: fixed;
    visibility: hidden;
    width: 200px;
    top: 0;
    left: 50%;
    margin-left: -100px;
    background: rgb(163, 26, 20);
    color: white;
    border-radius: 5px;
    border-color: solid rgb(163, 26, 20);
    border: 1px;
}
.blocker {
    z-index: 99;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
}
.popup {
    z-index: 100;
    display: none;
    position: absolute;
    width: 480px;
    height: auto;
    padding: 10px;
    top: 70px;
    left: 50%;
    margin-left: -250px;
    border-radius: 4px;
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    background: rgb(240, 240, 240);
}
.popup input {
    outline: none;
    border: 0;
    background: rgb(220, 220, 220);
    padding: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.popup .close {
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.popup label {
    display: block;
    margin: 10px 0;
}
.command-line {
    max-height: 70%;
    overflow-y: auto;
    overflow-x: hidden;
}
.command-line input {
    width: 100%;
    font-size: 22px;
}
.command-line ul {
    margin: 10px 0 0 0;
}
.command-line li {
    padding: 5px;
    font-size: 16px;
}
.command-line li:hover,
.command-line li.hover {
    background: rgb(220, 220, 220);
}
.command-line li .title {
    display: block;
}
.command-line li .extra {
    display: block;
    font-size: 11px;
    color: #777
}
#editor {
    -webkit-widget-region: region(control rectangle);
}
#top {
    padding: 10px 10px 0 10px;
    height: 26px;
    font-size: 13px;
    color: #333;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    background:-webkit-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:-moz-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:-ms-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:-o-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:linear-gradient(top, #EEE 0%, #CCC 100%);
    border-bottom: 1px solid #999;
    -webkit-user-select: none;
}
#top .tabs {
    display: inline-block;
}
#top .tabs li {
    border-radius: 2px 2px 0 0;
    padding: 0 5px;
    border: 1px solid #999;
    border-left: 0;
    box-shadow: inset 0 1px 1px #eee;
    background: #ddd;
    -webkit-transition: background 100ms linear;
}
#top .tabs li:first-child {
    border-left: 1px solid #999;
}
#top .tabs li:hover {
    background: #eee;
}
#top .tabs .selected {
    background: white;
    position: relative;
    border-bottom: 0;
    padding-bottom: 1px;
    box-shadow: none;
    -webkit-transition: none;
}
#top .tabs li.selected:hover {
    background: white;
}
#top .controls,
#top .tabs li {
    line-height: 25px;
    vertical-align: middle;
    display: inline-block;
}
#top .controls .span {
    cursor: pointer;
    margin-right: 10px;
    line-height: 25px;
    vertical-align: middle;
}
#top .close:hover {
    color: rgb(195, 25, 25);
}
#top .min:hover {
    color: rgb(195, 195, 25);
}
#top .max:hover {
    color: rgb(25, 195, 25);
}
#top .menu {
    float: right;
    cursor: pointer;
    line-height: 25px;
}
#top .menu:after {
    content: ' \25BE';
    font-size: 16px;
    color: #666;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
}
